In [1]:
import pandas as pd

In [2]:
myData={
        "Roll No":[101,102,103,104],
        "Sname":["Parikshit","Maulik","Zaran","Jemis"],
        "Python Marks":[68,65,50,75],
        "Java Marks":[70,60,55,72],
        "Ds Marks":[75,63,47,70]
        }

In [13]:
MyDataFream = pd.DataFrame(myData,index = [" ", " ", " "," "])
MyDataFream

   Roll No      Sname  Python Marks  Java Marks  Ds Marks
       101  Parikshit            68          70        75
       102     Maulik            65          60        63
       103      Zaran            50          55        47
       104      Jemis            75          72        70

In [8]:
S=pd.Series([101,102,103,104])
print(type(S))
print(S)

<class 'pandas.core.series.Series'>
0    101
1    102
2    103
3    104
dtype: int64

In [14]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [15]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [16]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [20]:
MyDataFream2 = pd.DataFrame(myData)
MyDataFream2

   Roll No      Sname  Python Marks  Java Marks  Ds Marks
0      101  Parikshit            68          70        75
1      102     Maulik            65          60        63
2      103      Zaran            50          55        47
3      104      Jemis            75          72        70

In [22]:
print(MyDataFream2.loc[0])

Roll No               101
Sname           Parikshit
Python Marks           68
Java Marks             70
Ds Marks               75
Name: 0, dtype: object