In [2]:
import pandas as pd

create a Pandas data fream
create a manul

In [3]:
mydata = { "RollNo":[101,102,103,104,105],"Sub-1 Marks":[68,78,91]}

In [4]:
print(type(mydata))
print(mydata)
keys= mydata.keys()
value=mydata.values()
print(keys)
print(value)
print(mydata.items())

<class 'dict'>
{'RollNo': [101, 102, 103, 104, 105], 'Sub-1 Marks': [68, 78, 91]}
dict_keys(['RollNo', 'Sub-1 Marks'])
dict_values([[101, 102, 103, 104, 105], [68, 78, 91]])
dict_items([('RollNo', [101, 102, 103, 104, 105]), ('Sub-1 Marks', [68, 78, 91])])

In [5]:
df = pd.DataFrame()

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
df1 = pd.DataFrame(mydata)

ValueError: All arrays must be of the same length

In [ ]:
mydata = { "RollNo":[101,102,103,104,105],"Sub-1 Marks":[68,78,91,53,23]}

In [ ]:
df1 = pd.DataFrame(mydata)

In [ ]:
print(df1)

In [ ]:
Student= {
    "Name":["Parikshit","Zaran","Darshan","Maulik","Mahir"],
    "RollNum":[101,102,103,104,105],
    "Subject":["DBMS","Paython","Dc","Java","Other"],
    "Marks" : [56,23,28,47,60],
    "Result": ["Pass","fil","fil","Pass","fil"]
}

In [ ]:
df2 = pd.DataFrame(Student)
print(df2)

In [ ]:
df2

In [ ]:
df2.head() # frist five only display
df2.head(2) # it is last index to display

df2.tail() #last five only display

In [ ]:
df2.columns

In [ ]:
df2.values #give a numpy array

In [ ]:
df2['Name']

In [ ]:
a=df1.values #give a numpy array
print(a)
print(type(a))
df1.columns

In [ ]:
df1['Sub-1 Marks'].sum()

In [ ]:
df1['Sub-2 Marks'] = [23,56,28,30,10]

In [ ]:
df1

In [ ]:
df1['Total'] = df1['Sub-1 Marks']+ df1['Sub-2 Marks']
df1

In [ ]:
df1['Total Parsentege'] = (df1['Total']*100/200)%100

In [ ]:
df.dtype

In [ ]:
df1

In [ ]:
f = pd.DataFrame({'angles':[0,3,4],
                  'degrees':[360,180,360]},index=['cricle','triangle','rectangle'])

In [ ]:
f

In [ ]:
df3 = pd.read_csv('test.csv')
df3

In [ ]:
df3.head()

In [ ]:
df3.tail()

In [ ]:
df3.columns

In [ ]:
def surname(x):
    return x.split(',')[0]

In [ ]:
df3['surname'] = df3['Name'].apply(surname)
df3

In [ ]:
df3 =df3.insert(5,['surname'],)

In [ ]:
#delete column 
df3 = df3.drop(columns=['surname'])

In [8]:
df3.columns

NameError: name 'df3' is not defined

In [ ]:
df3.insert(4,"surname",df3['Name'].apply(surname))

In [ ]:
def helf_age(x):
    return x/2

In [ ]:
df3.columns

In [ ]:
df3.insert(7,"helf_age",df3['Age'].apply(helf_age))

In [ ]:
df3

In [ ]:
gender = df3['Sex'].map({'male':0,'female':1})

In [ ]:
df3.insert(6,"gender",df3['Sex'].map({'male':0,'female':1}))

In [ ]:
df3

In [ ]:
df3.dtypes

In [ ]:
df3.values

In [ ]:
class1=df3[(df3['Pclass']==1)&(df3['Sex']=='female')]
print(class1)

In [ ]:
print(df3)

In [ ]:
df4 = pd.read_csv('http://bit.ly/kaggletrain')

In [ ]:
df4

In [ ]:
df4.size

In [ ]:
df4.shape

In [ ]:
df4.ndim

In [ ]:
sum = df4['Age'].sum()
print(sum)

In [ ]:
averg = df4['Age'].sum()/df4.shape[0]
print(averg)

In [ ]:
mean = df4['Age'].mean()
print(mean)

In [ ]:
unice = df4['Sex'].unique()
print(unice)
#unice

In [ ]:
unice = df4['Pclass'].unique()

#print(unice)

In [ ]:
sexmf = df4[df4['Sex'] == 'male']
//print(sexmf)

In [ ]:
class1=df4[df4['Pclass']==1]
class2=df4[df4['Pclass']==2]
class3=df4[df4['Pclass']==3]

In [ ]:
#print(class1)
class1.shape

In [ ]:
#print(class2)
class2.shape

In [ ]:
#print(class3)
class2.shape

In [ ]:
df4['Pclass'].value_counts()

In [ ]:
df4['Sex'].value_counts()

In [ ]:
df4.dtypes

In [ ]:
df4['Survived'].value_counts()

In [ ]:
class1=df4[(df4['Pclass']==1)&(df4['Pclass']==1) ]

In [ ]:
df3.isnull().sum()

In [ ]:
 df3.drop(columns=['Cabin'], inplace= True)

In [ ]:
print()
print(type(df3.isnull().sum()))

In [ ]:
unice = df4['Sex'].unique()

In [ ]:
df3.groupby('Sex')['Age'].mean()

In [ ]:
print(df3.groupby('Pclass')['Age'].mean())
print(type(df3.groupby('Pclass')['Age'].mean()))

In [ ]:
df3.groupby('Pclass')['Age'].mean()[1]

In [59]:
dfage1= df3[(df3['Pclass']==1) & (df3['Age'])]
dfage1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,S
...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C

In [56]:
dfage1 = df3(df3.groupby('Pclass')['Age'].mean()[1]

38.233440860215055

In [60]:
dfage2= df3[(df3['Pclass']==2) & (df3['Age'])]
dfage2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,C
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,S
...,...,...,...,...,...,...,...,...,...,...,...
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,C
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S

In [62]:
dfage3 = df3[(df3['Pclass']==3) & (df3['Age'])]
dfage3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,S
...,...,...,...,...,...,...,...,...,...,...,...
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [2]:
dfage1['Age'] = df3['Age'].fillna(df3.groupby('Pclass')['Age'].mean()[1])
dfage2['Age'] = df3['Age'].fillna(df3.groupby('Pclass')['Age'].mean()[2])
dfage3['Age'] = df3['Age'].fillna(df3.groupby('Pclass')['Age'].mean()[3])

NameError: name 'df3' is not defined

In [53]:
df_new = pd.concat((dfage1,dfage2,dfage3),ignore_index = True)

TypeError: cannot concatenate object of type '<class 'numpy.float64'>'; only Series and DataFrame objs are valid